<section>
  <div class="wrapper">
    <div class="container-main">
      <h2>DYNAMIC MENU CREATION</h2>
      <div class="container-outer">
        <div class="container-form">
          <div class="container-inputs">
            <input
              type="text"
              name="nodeInput"
              id="nodeInput"
              #nodeInp
              placeholder="Enter a value.."
              [value]="nodeInput"
              (input)="nodeInput = nodeInp.value"
              (keyup.enter)="createNode()"
            />
            <button (click)="createNode()">Add</button>
          </div>

          <!-- SELECT RECURSION (Template on Line: 48 )-->
          <ng-container
            *ngTemplateOutlet="
              selectTemplate;
              context: { level: 0, parent: null }
            "
          ></ng-container>
          <!-- SELECT RECURSION -->
        </div>

        <div class="container-data">
          <!-- LIST RECURSION (Template on Line: 86)-->
          <ng-container
            *ngTemplateOutlet="
              listTemplate;
              context: { level: 0, parent: null }
            "
          ></ng-container>
          <!-- LIST RECURSION -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- SELECT TEMPLATE -->
<ng-template #selectTemplate let-level="level" let-parent="parent">
  <select
    [name]="'select' + level"
    [id]="'select' + level"
    (change)="onSelectChange(level, parent, $event.target)"
  >
    <option [value]="null">{{ level === 0 ? "SELECT CHILD" : "NONE" }}</option>
    <option *ngFor="let node of getChildren(level, parent)" [value]="node.id">
      {{ node.value }}
    </option>
  </select>
  <ng-template
    [ngIf]="
      getChildren(
        level + 1,
        selects[level] === null || selects[level] === undefined
          ? parent
          : selects[level]
      ).length
    "
  >
    <ng-container
      *ngTemplateOutlet="
        selectTemplate;
        context: {
          level: level + 1,
          parent:
            selects[level] === null || selects[level] === undefined
              ? parent
              : selects[level]
        }
      "
    ></ng-container>
  </ng-template>
</ng-template>
<!-- SELECT TEMPLATE -->

<!-- LIST TEMPLATE -->
<ng-template #listTemplate let-level="level" let-parent="parent">
  <ul *ngIf="getChildren(level, parent).length">
    <li
      [ngStyle]="{
        listStyle: listStyle[level % 3]
      }"
      *ngFor="let node of getChildren(level, parent)"
    >
      {{ node.value }}
      <ng-container
        *ngTemplateOutlet="
          listTemplate;
          context: { level: level + 1, parent: node.id }
        "
      >
      </ng-container>
    </li>
  </ul>
</ng-template>
<!-- LIST TEMPLATE -->
